{% load i18n %}

<ul class="nav nav-tabs">
    <li class="nav-item" role="presentation">
        <a
            class="nav-link active"
            id="graphs"
            data-bs-toggle="tab"
            href="#tab-graphs"
            role="tab"
            aria-controls="tab-graphs"
            aria-selected="true"
        >
            {% translate "Graphs" %}
        </a>
    </li>

    <li class="nav-item" role="presentation">
        <a
            class="nav-link"
            id="members"
            data-bs-toggle="tab"
            href="#tab-members"
            role="tab"
            aria-controls="tab-members"
            aria-selected="true"
        >
            {% translate "Corporations" %}
        </a>
    </li>
</ul>
