{% load i18n %}
{% load django_bootstrap5 %}

{% if perms.afat.manage_afat and is_clickable_link and manual_fat_can_be_added %}
    {% translate 'This field is mandatory' as mandatory_info %}

    <div id="tab-manualfat" class="tab-pane fade card card-default border-0" role="tabpanel" aria-labelledby="tab-manualfat">
        <div class="card-body">
            <h4>{% translate "Manual FAT" %}</h4>

            <p>
                {% translate "Is someone missing from the list of FATs? Use this form to add them." %}
            </p>

            <p>
                <strong>{% translate "Note" %}:</strong> {% translate "This action is logged!" %}
            </p>

            <form class="form" role="form" action="{% url 'afat:fatlinks_process_manual_fat' link.hash %}" method="POST">
                {% csrf_token %}

                <div class="form-group">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                {% bootstrap_field forms.manual_fat.character %}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mb-3">
                                {% bootstrap_field forms.manual_fat.system %}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mb-3">
                                {% bootstrap_field forms.manual_fat.shiptype %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group text-end">
                    <button class="btn btn-primary" type="submit" name="manual_fat">
                        {% translate "Add manual FAT" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endif %}
